<div ng-include="'components/navbar/navbar.html'"></div>
<div class="text-center page-title"><p>History</p></div>



<div class="row">
  <section id="history">
    <!-- WOD  -->
    <div class="wod history-list" ng-repeat="work in history.historyList | orderBy:'date':true" style="border: 1px solid white">
      <h4 class="wod-title">{{work.date | date:'short'}}</h4>

      <div class="wod-movement" ng-repeat="move in work.movements">
        <p>{{move.name}}</p>
          <ul>
            <li>Reps: {{move.reps}}</li>
            <li>Rounds: {{move.rds}}</li>
            <li>Weight: {{move.weight}} lbs</li>
          </ul>
      </div>
    </div>
    <!-- End WOD -->







  </section><!-- /#history -->
</div><!-- /.row -->