<nav class="navbar navbar-default">
  <a class="navbar-brand text-center" href="/#">Activ8</a>
  <!-- Logout -->
  <button ng-click="app.logout()" type="button" class="btn btn-default btn-link navbar-btn navbar-right">Log out</button>

</nav>
<!-- Home -->
<!-- <div class="text-center page-title"><p>Dashboard</p></div> -->
<div class="row" id="dashboard">
  <section class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <!-- Begin new-dash -->
    <section class="new-dash">
      <section class="avatar">
        <img ng-src="{{app.user.avatarUrl}}" class="img-responsive">
        <p class="fbName">{{app.user.fullName|| displayName}}</p>
      </section><!-- / section.avatar -->
    </section><!-- End new-dash -->

    <!-- BEGIN Buttons -->
    <div class="btn-group-vertical btn-group-lg btn-block" role="group" aria-label="user info">
      <a role="button" class="work-btn btn btn-default" href="#new-workout">Log Workout</a>
      <a role="button" class="history-btn btn btn-default" href="#history">History</a>
      <a role="button" class="pr-btn btn btn-default" href="#pr">Personal Records</a>
    </div>

  </section><!-- / section#dashboard -->
</div><!-- /.row -->