<div ng-include="'components/navbar/navbar.html'"></div>
<!-- Dashboard -->
<div class="text-center page-title"><p>Profile</p></div>
<div class="row">
  <section id="dashboard">
    <!-- Begin new-dash -->
    <section class="new-dash">
      <div class="row row-1">
        <section class="avatar">
          <img ng-src="{{app.user.avatarUrl}}" class="img-responsive">
          <p class="fbName">{{app.user.fullName|| displayName}}</p>
        </section><!-- / section.avatar -->
      </div>
    </section><!-- End new-dash -->

    <!-- BEGIN Buttons -->
    <section>
      <div class="btn-group-vertical btn-group-lg dash-btn-group btn-block" role="group" aria-label="user info">
        <a role="button" class="work-btn btn btn-default" href="#new-workout">Log Workout</a>
        <a role="button" class="history-btn btn btn-default" href="#history">My History</a>
        <a role="button" class="pr-btn btn btn-default" href="#pr">Personal Records</a>
      </div>
    </section><!-- /.dash-buttons -->
  </section><!-- / section#dashboard -->
</div>