<div ng-include="'components/navbar/navbar.html'"></div>
<div class="text-center page-title"><p>Today's Workout</p></div>

<!--   <section class="go-to-history">
    <a href="#history" class="btn btn-warning btn-sm" role="button">My History</a>
  </section>
 -->
  <section class="main">

    <!-- Form -->
    <form class="new-move" ng-submit="work.addWork(work.workout)" name="new">
     <div class="new-moves" ng-repeat="move in work.workout" >

      <div class="form-group">
        <input type="text" class="form-control" ng-model="move.name" list="moving" placeholder="Select Movement" autocomplete="on" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" ng-model="move.reps" placeholder="Reps" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" ng-model="move.rds"  placeholder="Rounds" required>
      </div>

      <div class="input-group">
        <input type="text" class="form-control" ng-model="move.weight" placeholder="Weight">
        <span class="input-group-btn">
          <button class="btn btn-danger glyphicon glyphicon-trash" type="button" ng-click="work.delete(move)"></button>
        </span>
      </div><!-- /input-group -->
      <input type="text" ng-hide="true" ng-model="move.moveNumber">
    </div><!-- /.new-moves -->

     <div class="btn-group-vertical center-block">
      <div class="form-group">
       <input type="button" class="form-control btn btn-default btn-success" value="(+)Add Movement" ng-click="work.addMove()">
     </div>
       <div class="form-group">
       <input type="submit" class="form-control btn btn-default btn-primary" value="Save Workout" ng-disabled="work.disable()">
     </div>
     </div>
    </form>

    <datalist id="moving">
      <option data-ng-repeat="moves in work.moveList.movements" value="{{moves.name}}"></option>
    </datalist>
  </section><!-- / .main -->
</div><!-- /.main-body -->