// ======================================
// $Media Queries
// ======================================

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $break-sm-min) {
  .page-title {
    background-color: $grey-darker;
  }

  // Log Workout screen
  #log  {
    margin-top: 5%;
    // width: 30%;
  }

#log #selectmovement {
  position: relative;
  // outline: magenta solid 2px;
}

.btn-delete {
  position: absolute;
  left: 100%;
  margin-top: 55px;
  color: $grey-light;
  border: none;
  background-color: transparent;
}




 }









/* Medium devices (desktops, 992px and up) */
@media (min-width: $break-md-min) {
  .page-title {
    background-color: $green;
  }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $break-lg-min) {
  .page-title {
    background-color: $blue;
  }
}


// So media queries don't overlap when required, provide a maximum
// $screen-xs-max:              ($screen-sm-min - 1)
// $screen-sm-max:              ($screen-md-min - 1)
// $screen-md-max:              ($screen-lg-min - 1)
