
$red: #FE0000;
$charcoal: #313036;
$dark-grey: #80828F;
$grey: #B1B0B8;
$light-grey: #E5E8F1;



// General
//-------------------------------------------------//
$assets-img: '../img/';
//-------------------------------------------------//


// Font
//-------------------------------------------------//
$font-base: 16;
$line-base: 21;
//-------------------------------------------------//


// Colors
//-------------------------------------------------//
$white: #fff;

$black: #282b2e;

$grey: #706f73;
$grey-light: #e7e7e7;
$grey-med: #cac9c9;
$grey-dark: #c8cacc;
$grey-darker: #969696;
$grey-darkest: #c2c2c2;

$blue: #0084d9;
$blue-dark: #0061a0;

$nav-gradient-light: #fefefe;
$nav-gradient-dark: #d0d0d0;
//-------------------------------------------------//

