// General
//-------------------------------------------------//
$assets-img: '/assets/images/';
//-------------------------------------------------//


// Colors
//-------------------------------------------------//
$white: #F8F8F8;
$grey: #32424C;
$grey-light: #DFECF2;
$grey-dark: #293D4C;
$grey-darker: #1A252C;
$black: #18232A;

$red: #DA423E;
$green: #60C78E;
$blue: #20B3D9;
$dash-btn-gradient: linear-gradient(rgba(0, 0, 0, .45098) 0%, rgba(0, 0, 0, .75098) 100%);
$dash-btn-gradient-light: linear-gradient(rgba(0, 0, 0, .35098) 0%, rgba(0, 0, 0, .75098) 100%);

//-------------------------------------------------//

// Typography
//-------------------------------------------------//
// ## Font, line-height, and color for body text, headings, and more.
$font-family-base:  'Roboto', sans-serif;
// $font-family-serif:       Georgia, serif;
$font-family-brand:       'Stardos Stencil', Arial;
$font-size-base: 16px;
$font-size-large:         ceil(($font-size-base * 1.25));
$font-size-small:         ceil(($font-size-base * 0.85));



//-------------------------------------------------//


// Media Queries
//-------------------------------------------------//
$break-sm-min: 320px;
$break-md-min: 992px;
$break-lg-min: 1200px;



